<h2>Welcome to Music Mates!</h2>
<br>
<div class="container">
    <div class="row">

      <div class="col-md-6">
        <img src="images/music-mates-resized.png" class="img-responsive main-image">
      </div>

      <div class="col-md-6">
        <p class><h3>
        We are a community of musicians of all levels who love to play chamber music.  Sign up and let us know what instruments you play.  Search for players by instrument and get in touch with each other to arrange live or virtual sessions</h3></p>
        <a class="btn btn-primary" href="/users/new" role="button">Sign Up</a>
        &nbsp&nbsp
        <a class="btn btn-primary" href="/users/login" role="button">Log In</a>
      </div>

    </div>
</div>
