<h2>Find Music Mates by Instrument.</h2>
<br>
<div class="container">
    <% @instruments.each do |instrument| %>
        <div>
            <a href="/instruments/<%= instrument.id %>"><%= instrument.name %></a>
        </div>
    <% end %>
</div>
