<h2><%= @instrument.name %></h2>

<div class="container">

    <% @musicians.each do |musician| %>
        <div>
            <a href="/users/<%= musician.id  %>"><%= musician.first_name %>&nbsp<%= musician.last_name %></a>
        </div>
    <% end %>
</div>
